<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.pbc.xjcloud.provider.contract.mapper.TestMapper">

  <select id="selectById" resultType="Map">
    select
    *
    from entry_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <!-- resultType的返回值只看单个原子是什么类型的，外面套什么类型不用过问 -->
  <select id="selectByIds" resultType="Map">
    select
    *
    from entry_info
    where
    ID in
    <foreach collection="array" open="(" separator="," close=")" item="id" index="index">
      #{id}
    </foreach>
  </select>

</mapper>
