<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.pbc.xjcloud.provider.contract.mapper.auditManage.PlanInfoMapper">

    <select id="getByPlanUserId" resultMap="PlanInfoMap">
        SELECT
            a.id,
            a.status_user,
            a.user_id,
            a.plan_id,
            a.opinion
        from  plan_info a
        where
        a.plan_id= #{planId}
        and a.user_id= #{userId}
    </select>

    <update id="updateById">
        UPDATE plan_info
        SET
         `status_user` = #{statusUser}
        WHERE
            id = #{id}
    </update>

    <update id="updateByPlanUserId">
        UPDATE plan_info
        SET
         `status_user` = #{statusUser}
        WHERE
            plan_id = #{planId}
            and user_id = #{userId}
    </update>

    <!-- 使用resultMap映射实体类和字段之间的一一对应关系 -->
    <resultMap type="gov.pbc.xjcloud.provider.contract.entity.auditManage.PlanInfo" id="PlanInfoMap">
        <id property="id" column="id"/>
        <result property="statusUser" column="status_user"/>
        <result property="userId" column="user_id"/>
        <result property="opinion" column="opinion"/>
        <result property="planId" column="plan_id"/>
    </resultMap>

</mapper>