<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.pbc.xjcloud.provider.contract.mapper.auditManage.PlanManagementMapper">

    <resultMap id="PlanCheckListMapper" type="gov.pbc.xjcloud.provider.contract.entity.PlanCheckList">
        <result column="id" property="id"/>
        <result column="project_code" property="projectCode"/>
        <result column="project_name" property="projectName"/>
        <result column="implementing_agency_id" property="implementingAgencyId"/>
        <result column="audit_object_id" property="auditObjectId"/>
        <result column="audit_nature_id" property="auditNatureId"/>
        <result column="audit_year" property="auditYear"/>
        <result column="status" property="status"/>
        <result column="question_entry_id" property="questionEntryId"/>
        <result column="problem_severity_id" property="problemSeverityId"/>
        <result column="rectify_situation_id" property="rectifySituationId"/>
        <result column="problem_characterization" property="problemCharacterization"/>
        <result column="problem_description" property="problemDescription"/>
        <result column="may_affect" property="mayAffect"/>
        <result column="rectification_suggestions" property="rectificationSuggestions"/>
        <result column="audit_basis" property="auditBasis"/>
        <result column="audit_classification_id" property="auditClassificationId"/>
        <result column="auditing_experience" property="auditingExperience"/>
        <result column="risk_assessment_id" property="riskAssessmentId"/>
        <result column="instance_id" property="instanceId"/>
    </resultMap>
    <insert id="addCheckAttention">
        insert into user_attention_check (user_id,check_id) values
        <foreach collection="checkArr" item="checkId" separator=",">
            (#{userId},#{checkId})
        </foreach>
    </insert>
    <delete id="cancelCheckAttention">
        delete from user_attention_check where user_id=#{userId}
        and check_id in
        <foreach collection="checkArr" close=")" item="checkId" separator="," open="(">
            #{checkId}
        </foreach>
    </delete>

    <select id="selectPlanCheckList" resultMap="PlanCheckListMapper">
        SELECT
        a.id,
        a.project_code,
        a.project_name,
        en1.`name` implementing_agency_id,
        en2.`name` audit_object_id,
        en3.`name` audit_nature_id,
        a.audit_year,
        a.status,
        a.question_entry_id,
        a.problem_severity_id,
        a.rectify_situation_id,
        a.problem_characterization,
        a.problem_description,
        a.may_affect,
        a.rectification_suggestions,
        a.audit_basis,
        a.audit_classification_id,
        a.auditing_experience,
        a.risk_assessment_id
        FROM
        `plan_check_list` a
        LEFT JOIN entry_info en1 on a.implementing_agency_id = en1.id
        LEFT JOIN entry_info en2 on a.audit_object_id = en2.id
        LEFT JOIN entry_info en3 on a.audit_nature_id = en3.id
        where a.del_flag='0'
        <if test="query.projectName!=null and query.projectName!=''">
            and a.project_name like concat('%',concat(#{query.projectName},'%'))
        </if>
        <if test="query.status!=null and query.status!=''">
            and a.`status` = #{query.status, jdbcType=VARCHAR}
        </if>
        <if test="query.problemCharacterization!=null and query.problemCharacterization!=''">
            and a.problem_characterization like concat('%',concat(#{query.problemCharacterization},'%'))
        </if>
        <if test="query.problemDescription!=null and query.problemDescription!=''">
            and a.problem_description like concat('%',concat(#{query.problemDescription},'%'))
        </if>

    </select>

    <select id="selectEntryByCategoryId" resultType="java.util.HashMap">
        SELECT id,`NAME` name FROM `entry_info` where category_fk = #{categoryId, jdbcType=VARCHAR} and del_flag = '0'
    </select>
    <select id="selectTypePage" resultType="gov.pbc.xjcloud.provider.contract.entity.PlanCheckList">
        SELECT
        a.id,
        a.project_code,
        a.project_name,
        a.implementing_agency_id,
        a.audit_object_id,
        a.audit_nature_id,
        a.audit_year,
        a.status,
        a.question_entry_id,
        a.problem_severity_id,
        a.rectify_situation_id,
        a.problem_characterization,
        a.problem_description,
        a.may_affect,
        a.rectification_suggestions,
        a.audit_basis,
        a.audit_classification_id,
        a.auditing_experience,
        a.risk_assessment_id
        FROM
        `plan_check_list` a
        where a.del_flag='0'
        <if test="query.projectName!=null and query.projectName!=''">
            and a.project_name like concat('%',concat(#{query.projectName},'%'))
        </if>
        <if test="query.problemCharacterization!=null and query.problemCharacterization!=''">
            and a.problem_characterization like concat('%',concat(#{query.problemCharacterization},'%'))
        </if>
        <if test="query.problemDescription!=null and query.problemDescription!=''">
            and a.problem_description like concat('%',concat(#{query.problemDescription},'%'))
        </if>
        <choose>
            <when test="query.type=='all'">

            </when>
            <when test="query.type=='todo'">
                and a.`status` !='1003'
            </when>
            <when test="query.type=='done'">
                and a.`status` =='1003'
            </when>
            <when test="query.type=='delay'">
                and a.delay_date is not null
            </when>

        </choose>

    </select>
    <select id="countPlan" resultType="java.util.Map">
        select
            count(1) planSum,
            sum(case when status='1013' then 1 else 0 end) finishCount,
            sum(case when status!='1013'
            then 1 else 0 end) nofinishCount,
            sum(case when delay_date is not null then 1 else 0 end) timeoutCount
        from
            plan_check_list where del_flag='0'
        <if test='agencyId!=null and agencyId!=""'>
            and implementing_agency_id='${agencyId}'
        </if>
    </select>
</mapper>