<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.pbc.xjcloud.provider.contract.mapper.entry.EntryMapper">

    <resultMap id="EntryInfoVOMap" type="gov.pbc.xjcloud.provider.contract.vo.entry.EntryInfoVO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="name1" property="name1"/>
        <result column="name2" property="name2"/>
        <result column="name3" property="name3"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_by" property="updatedBy"/>
        <result column="update_time" property="updatedTime"/>
        <result column="category_fk" property="categoryFk"/>
        <result column="category_name" property="categoryName"/>
        <result column="type_code" property="typeCode"/>
    </resultMap>
    <update id="updateBySql">
        UPDATE entry_info
        SET
        revision=#{revision},
        created_by=#{createdBy},
        created_time=#{createdTime},
        name=#{name},
        name1=#{name1},
        name2=#{name2},
        name3=#{name3},
        type_code=#{typeCode},
        category_fk=#{categoryFk},
        remarks=#{remarks} ,
        del_flag=#{delFlag}
        WHERE id=#{id}
    </update>

    <select id="selectEntryInfo" resultMap="EntryInfoVOMap">
        select
        a.id,
        a.name,
        a.name1,
        a.name2,
        a.name3,
        a.type_code,
        a.created_by,
        a.created_time,
        a.category_fk,
        b.name category_name
        from entry_info a
        left join entry_category b on a.category_fk = b.id
        where a.del_flag='0'
        <if test="query.name!=null and query.name!=''">
            and a.name like concat('%',concat(#{query.name},'%'))
        </if>

        <if test="query.categoryFk!=null and query.categoryFk!=''">
            and a.category_fk=#{query.categoryFk}
        </if>
        order by a.created_time desc

    </select>
</mapper>