<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.pbc.xjcloud.provider.contract.mapper.PlanCheckListNewMapper">

    <resultMap id="PlanCheckListMapper" type="gov.pbc.xjcloud.provider.contract.entity.PlanCheckListNew">
        <result column="id" property="id"/>
        <result column="project_code" property="projectCode"/>
        <result column="project_name" property="projectName"/>
        <result column="project_type" property="projectType"/>
        <result column="created_by" property="createdBy"/>
        <result column="implementing_agency_id" property="implementingAgencyId"/>
        <result column="audit_object_id" property="auditObjectId"/>
        <result column="audit_nature_id" property="auditNatureId"/>
        <result column="audit_year" property="auditYear"/>
        <result column="status" property="status"/>
        <result column="question_entry_id" property="questionEntryId"/>
        <result column="problem_severity_id" property="problemSeverityId"/>
        <result column="rectify_situation_id" property="rectifySituationId"/>
        <result column="problem_characterization" property="problemCharacterization"/>
        <result column="problem_description" property="problemDescription"/>
        <result column="may_affect" property="mayAffect"/>
        <result column="rectification_suggestions" property="rectificationSuggestions"/>
        <result column="audit_basis" property="auditBasis"/>
        <result column="audit_classification_id" property="auditClassificationId"/>
        <result column="auditing_experience" property="auditingExperience"/>
        <result column="risk_assessment_id" property="riskAssessmentId"/>
<!--        <result column="instance_id" property="instanceId"/>-->
        <result column="plan_time" property="planTime"/>
        <result column="imp_user_id" property="impUserId"/>
        <result column="imp_admin_id" property="impAdminId"/>
        <result column="audit_user_id" property="auditUserId"/>
        <result column="audit_admin_id" property="auditAdminId"/>
        <collection property="planInfos" ofType="gov.pbc.xjcloud.provider.contract.entity.auditManage.PlanInfo">
            <id property="id" column="id"/>
            <result property="statusUser" column="status_user"/>
            <result property="opinion" column="opinion"/>
            <result property="planId" column="plan_id"/>
            <result property="userId" column="user_id"/>
            <result property="type" column="type"/>
        </collection>
    </resultMap>

    <select id="selectById" resultMap="PlanCheckListMapper">
        SELECT
        <include refid="selectOnly"/>
        from plan_check_list a  where a.id = #{id}
    </select>

    <select id="selectByStatuses" resultMap="PlanCheckListMapper">
        SELECT
        <include refid="selectOnly"/>
        from plan_check_list a  where a.status in
        <foreach collection="array" open="(" separator="," close=")" item="status" index="index">
            #{status}
        </foreach>
        <if test="query.projectName!=null and query.projectName!=''">
            and a.project_name like concat('%',concat(#{query.projectName},'%'))
        </if>
        <if test="query.status!=null and query.status!=''">
            and a.status like concat('%',concat(#{query.status},'%'))
        </if>
    </select>

    <update id="updatePlanById">
        UPDATE
            `plan_check_list`
        SET
        <if test="plan.createdBy!=null and plan.createdBy!=''">
            `created_by`=#{plan.createdBy},
        </if>
        <if test="plan.createdTime!=null">
            `created_time`=#{plan.createdTime,jdbcType=TIMESTAMP},
        </if>
        <if test="plan.updatedTime!=null">
            `updated_time`=#{plan.updatedTime,jdbcType=TIMESTAMP},
        </if>
        <if test="plan.projectCode!=null and plan.projectCode!=''">
            `project_code`=#{plan.projectCode},
        </if>
        <if test="plan.projectType!=null and plan.projectType!=''">
            `project_type`=#{plan.projectType},
        </if>
        <if test="plan.implementingAgencyId!=null and plan.implementingAgencyId!=''">
            `implementing_agency_id`=#{plan.implementingAgencyId},
        </if>
        <if test="plan.auditObjectId!=null and plan.auditObjectId!=''">
            `audit_object_id`=#{plan.auditObjectId},
        </if>
        <if test="plan.auditNatureId!=null and plan.auditNatureId!=''">
            `audit_nature_id`=#{plan.auditNatureId},
        </if>
        <if test="plan.auditYear!=null and plan.auditYear!=''">
            `audit_year`=#{plan.auditYear},
        </if>
        <if test="plan.status!=null and plan.status!=''">
            `status`=#{plan.status},
        </if>
        <if test="plan.questionEntryId!=null and plan.questionEntryId!=''">
            `question_entry_id`=#{plan.questionEntryId},
        </if>
        <if test="plan.problemSeverityId!=null and plan.problemSeverityId!=''">
            `problem_severity_id`=#{plan.problemSeverityId},
        </if>
        <if test="plan.rectifySituationId!=null and plan.rectifySituationId!=''">
            `rectify_situation_id`=#{plan.rectifySituationId},
        </if>
        <if test="plan.problemCharacterization!=null and plan.problemCharacterization!=''">
            `problem_characterization`=#{plan.problemCharacterization},
        </if>
        <if test="plan.problemDescription!=null and plan.problemDescription!=''">
            `problem_description`=#{plan.problemDescription},
        </if>
        <if test="plan.mayAffect!=null and plan.mayAffect!=''">
            `may_affect`=#{plan.mayAffect},
        </if>
        <if test="plan.rectificationSuggestions!=null and plan.rectificationSuggestions!=''">
            `rectification_suggestions`=#{plan.rectificationSuggestions},
        </if>
        <if test="plan.auditBasis!=null and plan.auditBasis!=''">
            `audit_basis`=#{plan.auditBasis},
        </if>
        <if test="plan.auditClassificationId!=null and plan.auditClassificationId!=''">
            `audit_classification_id`=#{plan.auditClassificationId},
        </if>
        <if test="plan.auditingExperience!=null and plan.auditingExperience!=''">
            `auditing_experience`=#{plan.auditingExperience},
        </if>
        <if test="plan.riskAssessmentId!=null and plan.riskAssessmentId!=''">
            `risk_assessment_id`=#{plan.riskAssessmentId},
        </if>
        <if test="plan.frequency!=null and plan.frequency!=''">
            `frequency`=#{plan.frequency},
        </if>
        <if test="plan.rectifyMan!=null and plan.rectifyMan!=''">
            `rectify_man`=#{plan.rectifyMan},
        </if>
        <if test="plan.rectifyWay!=null and plan.rectifyWay!=''">
            `rectify_way`=#{plan.rectifyWay},
        </if>
        <if test="plan.planTime!=null">
            `plan_time`=#{plan.planTime,jdbcType=TIMESTAMP},
        </if>
        <if test="plan.rectifyResult!=null and plan.rectifyResult!=''">
            `rectify_result`=#{plan.rectifyResult},
        </if>
        <if test="plan.delayRemarks!=null and plan.delayRemarks!=''">
            `delay_remarks`=#{plan.delayRemarks},
        </if>
        <if test="plan.delayDate!=null and plan.delayDate!=''">
            `delay_date`=#{plan.delayDate},
        </if>
        <if test="plan.impUserId!=null and plan.impUserId!=''">
            `imp_user_id`=#{plan.impUserId},
        </if>
        <if test="plan.impAdminId!=null and plan.impAdminId!=''">
            `imp_admin_id`=#{plan.impAdminId},
        </if>
        <if test="plan.auditUserId!=null and plan.auditUserId!=''">
            `audit_user_id`=#{plan.auditUserId},
        </if>
        <if test="plan.auditAdminId!=null and plan.auditAdminId!=''">
            `audit_admin_id`=#{plan.auditAdminId},
        </if>
        <if test="plan.taskId!=null and plan.taskId!=''">
            `task_id`=#{plan.taskId},
        </if>
        <if test="plan.auditStatus!=null and plan.auditStatus!=''">
            `audit_status`=#{plan.auditStatus},
        </if>
        <if test="plan.startTime!=null">
            `start_time`=#{plan.startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="plan.archiveTime!=null">
            `archive_time`=#{plan.archiveTime,jdbcType=TIMESTAMP},
        </if>
        <if test="plan.resultEnterTime!=null">
            `result_enter_time`=#{plan.resultEnterTime,jdbcType=TIMESTAMP},
        </if>
        <if test="plan.projectName!=null and plan.projectName!=''">
            `project_name`=#{plan.projectName}
        </if>
        WHERE
            (`id`=#{plan.id})
    </update>

    <select id="selectAll" resultMap="PlanCheckListMapper">
        SELECT
        <include refid="select"/>
        from plan_check_list a
        right JOIN plan_info b on a.id = b.plan_id where b.type = #{type} and b.user_id = #{userId}
        <if test="query.projectName!=null and query.projectName!=''">
            and a.project_name like concat('%',concat(#{query.projectName},'%'))
        </if>
        <if test="status!=null and status!=''">
            and b.status_user = #{status}
        </if>
    </select>

    <insert id="saveReturnPK" parameterType="gov.pbc.xjcloud.provider.contract.entity.PlanCheckListNew" useGeneratedKeys="true" keyProperty="planCheckList.id" keyColumn="id">
        INSERT INTO `plan_check_list`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `created_by`,
            `created_time`,
            `project_code`,
            `project_name`,
            `project_type`,
            `implementing_agency_id`,
            `audit_object_id`,
            `audit_nature_id`,
            `audit_year`,
            `question_entry_id`,
            `problem_severity_id`,
            `rectify_situation_id`,
            `problem_characterization`,
            `problem_description`,
            `may_affect`,
            `rectification_suggestions`,
            <if test="planCheckList.auditBasis != null and planCheckList.auditBasis !=''">
                `audit_basis`,
            </if>
            <if test="planCheckList.auditClassificationId != null and planCheckList.auditClassificationId !=''">
                `audit_classification_id`,
            </if>
            <if test="planCheckList.auditingExperience != null and planCheckList.auditingExperience !=''">
                `auditing_experience`,
            </if>
            <if test="planCheckList.riskAssessmentId != null and planCheckList.riskAssessmentId !=''">
                `risk_assessment_id`,
            </if>
            `imp_user_id`,
            `imp_admin_id`,
            <if test="planCheckList.auditUserId != null and planCheckList.auditUserId !=''">
                `audit_user_id`,
            </if>
            <if test="planCheckList.auditAdminId != null and planCheckList.auditAdminId !=''">
                `audit_admin_id`,
            </if>
            `status`
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{planCheckList.id},
            <if test="planCheckList.createdBy != null and planCheckList.createdBy !=''">
                #{planCheckList.createdBy},
            </if>
            <if test="planCheckList.createdTime != null">
                #{planCheckList.createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="planCheckList.projectCode != null and planCheckList.projectCode !=''">
                #{planCheckList.projectCode},
            </if>
            <if test="planCheckList.projectName != null and planCheckList.projectName !=''">
                #{planCheckList.projectName},
            </if>
            <if test="planCheckList.projectType != null and planCheckList.projectType !=''">
                #{planCheckList.projectType},
            </if>
            <if test="planCheckList.implementingAgencyId != null and planCheckList.implementingAgencyId !=''">
                #{planCheckList.implementingAgencyId},
            </if>
            <if test="planCheckList.auditObjectId != null and planCheckList.auditObjectId !=''">
                #{planCheckList.auditObjectId},
            </if>
            <if test="planCheckList.auditNatureId != null and planCheckList.auditNatureId !=''">
                #{planCheckList.auditNatureId},
            </if>
            <if test="planCheckList.auditYear != null and planCheckList.auditYear !=''">
                #{planCheckList.auditYear},
            </if>
            <if test="planCheckList.questionEntryId != null and planCheckList.questionEntryId !=''">
                #{planCheckList.questionEntryId},
            </if>
            <if test="planCheckList.problemSeverityId != null and planCheckList.problemSeverityId !=''">
                #{planCheckList.problemSeverityId},
            </if>
            <if test="planCheckList.rectifySituationId != null and planCheckList.rectifySituationId !=''">
                #{planCheckList.rectifySituationId},
            </if>
            <if test="planCheckList.problemCharacterization != null and planCheckList.problemCharacterization !=''">
                #{planCheckList.problemCharacterization},
            </if>
            <if test="planCheckList.problemDescription != null and planCheckList.problemDescription !=''">
                #{planCheckList.problemDescription},
            </if>
            <if test="planCheckList.mayAffect != null and planCheckList.mayAffect !=''">
                #{planCheckList.mayAffect},
            </if>
            <if test="planCheckList.rectificationSuggestions != null and planCheckList.rectificationSuggestions !=''">
                #{planCheckList.rectificationSuggestions},
            </if>
            <if test="planCheckList.auditBasis != null and planCheckList.auditBasis !=''">
                #{planCheckList.auditBasis},
            </if>
            <if test="planCheckList.auditClassificationId != null and planCheckList.auditClassificationId !=''">
                #{planCheckList.auditClassificationId},
            </if>
            <if test="planCheckList.auditingExperience != null and planCheckList.auditingExperience !=''">
                #{planCheckList.auditingExperience},
            </if>
            <if test="planCheckList.riskAssessmentId != null and planCheckList.riskAssessmentId !=''">
                #{planCheckList.riskAssessmentId},
            </if>
            <if test="planCheckList.impUserId != null and planCheckList.impUserId !=''">
                #{planCheckList.impUserId},
            </if>
            <if test="planCheckList.impAdminId != null and planCheckList.impAdminId !=''">
                #{planCheckList.impAdminId},
            </if>
            <if test="planCheckList.auditUserId != null and planCheckList.auditUserId !=''">
                #{planCheckList.auditUserId},
            </if>
            <if test="planCheckList.auditAdminId != null and planCheckList.auditAdminId !=''">
                #{planCheckList.auditAdminId},
            </if>
            <if test="planCheckList.status != null and planCheckList.status !=''">
                #{planCheckList.status}
            </if>
        </trim>
    </insert>


    <sql id="select">
        a.id,
        a.project_code,
        a.project_name,
        a.project_type,
        a.implementing_agency_id,
        a.audit_object_id,
        a.audit_nature_id,
        a.audit_year,
        a.status,
        a.question_entry_id,
        a.problem_severity_id,
        a.rectify_situation_id,
        a.problem_characterization,
        a.problem_description,
        a.may_affect,
        a.rectification_suggestions,
        a.audit_basis,
        a.audit_classification_id,
        a.auditing_experience,
        a.plan_time,
        a.risk_assessment_id,
        a.imp_user_id,
        a.imp_admin_id,
        a.audit_user_id,
        a.audit_admin_id,
        b.id,
        b.status_user,
        b.user_id,
        b.opinion
    </sql>

    <sql id="selectOnly">
        a.id,
        a.created_by,
        a.project_code,
        a.project_name,
        a.project_type,
        a.implementing_agency_id,
        a.audit_object_id,
        a.audit_nature_id,
        a.audit_year,
        a.status,
        a.question_entry_id,
        a.problem_severity_id,
        a.rectify_situation_id,
        a.problem_characterization,
        a.problem_description,
        a.may_affect,
        a.rectification_suggestions,
        a.audit_basis,
        a.audit_classification_id,
        a.auditing_experience,
        a.plan_time,
        a.risk_assessment_id,
        a.imp_user_id,
        a.imp_admin_id,
        a.audit_user_id,
        a.audit_admin_id
    </sql>
</mapper>