<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gov.pbc.xjcloud.provider.contract.mapper.authority.AuthorityMapper">

    <select id="getMenuByRoleId" resultType="java.lang.String">
        SELECT
            DISTINCT a.permission
        FROM
        xjcloud.sys_menu a
            JOIN xjcloud.sys_role_menu b on a.menu_id = b.menu_id
        where
            a.permission !=''
            and b.role_id in
        <foreach collection="array" open="(" separator="," close=")" item="roleId" index="index">
            #{roleId}
        </foreach>
    </select>

</mapper>